<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>User</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<style>
        .fieldError{color: red}
    </style>
</head>
<body>
	<div class="container my-2">
		<h1>User Form</h1>
		<form>
		
		</form>
		
		<h1>User List</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
			
			</thead>
			<tbody>
			
			</tbody>
		</table>	
	</div>	
</body>
</html>